body{
  background-color: #f5f5f5;
}

.header {
  padding: 30px;
  background-color: #ccc;
  margin-bottom: 30px;
}

.header h1 {
  text-align: left;
}

h1,h2,h3,h4,p,input,textarea{
  margin: 0;
  padding: 0;
}

h2{
  padding: 15px;
}

h3{
  font-size: 14px;
  margin-bottom: 10px;
}

p{
  font-size: 12px;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}
.flex-end{
  justify-content: flex-end;
}

.align-items-center{
  align-items: center;
}

.lanes{
  display: flex;
  height: calc(100vh - 145px);
}

.lane{
  width: calc(25% - 30px);
  min-height: 500px;
  background-color: #ddd;
  margin: 15px;
}

.ticketFooter{
  border-top: 1px solid #ccc;
  padding: 10px 10px 0 10px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 18px;
}

.deleteButton{
  background-color: rgb(190, 0, 38);
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
}
.editButton{
  margin-right: 8px;
  background-color: #95eaff;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
}

.ticket{
  background-color: #fff;
  margin: 0px 15px 15px 15px;
  padding: 15px 15px 10px 15px;
  border-radius: 3px;
}

.addDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.editDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.addDialog:target {
  opacity:1;
  pointer-events: auto;
}

.dialogOpen{
  opacity: 1 !important;
}

/* .editDialog:target {
  pointer-events: auto;
} */

.addDialog > div {
  width: 470px;
  position: relative;
  margin: 10% auto;
  padding: 15px 30px 30px 30px;
  border-radius: 3px;
  background: #fff;
}

.editDialog > div {
  width: 470px;
  position: relative;
  margin: 10% auto;
  padding: 15px 30px 30px 30px;
  border-radius: 3px;
  background: #fff;
}

.addDialog h2{
  padding-left: 0px;
}

.formField{
  padding-bottom: 15px;
}

form label{
  margin-bottom: 3px;
  display: block;
}

form input {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 130px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
  height: 45px;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.flex.submit{
  justify-content: flex-end;
  margin-top: 15px;
}

.flex.submit input{
  width: 100px;
}

.close:hover {
  background: #00d9ff;
}

svg{
  pointer-events: none;
}

.current{
  background-color: #666;
  opacity: 0;
}

.button{
  background-color: #00d9ff;
  padding: 12px 15px;
  margin-left: 15px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  border: none;
}

.button-cancel{
  background-color: #ccc;
  color: #555;
}
