body{
  background-color: #fff;
}

.header {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 2px 2px 10px #ccc;
}

.header h1 {
  text-align: left;
}

.logo{
  width: 230px;
}

h1,h2,h3,h4,p,input,textarea{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.4;
}

h2{
  padding: 15px;
}

h3{
  font-size: 14px;
  margin-bottom: 10px;
}

p{
  font-size: 12px;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}
.flex-end{
  justify-content: flex-end;
}

.align-items-center{
  align-items: center;
}

.lanes{
  display: flex;
  height: calc(100vh - 145px);
  overflow: auto;
}

.lane{
  width: calc(25% - 30px);
  min-height: 500px;
  min-width: 300px;
  max-width: 400px;
  background-color: #eee;
  margin: 15px;
  border-radius: 5px;
}

.ticketFooter{
  margin-top: 20px;
}

.category{
  background-color: #3498db;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 6px;
  border-radius: 5px;
  margin-left: 10px;
}

.deleteButton{
  color: #e74c3c;
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
}
.editButton{
  margin-right: 8px;
  color: #252525;
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
}

.deleteButton:hover{
  cursor: pointer;
}

.editButton:hover{
  cursor: pointer;
}

.button.disabled{
  background-color: #ccc !important;
  cursor: not-allowed !important;
}

.categories{
  margin-left: 15px;
  margin-bottom: 10px;
}

.category-filter {
  background-color: #eee;
  padding: 10px 12px;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 10px;
}

.ticket{
  background-color: #fff;
  margin: 0px 15px 15px 15px;
  padding: 15px 15px 10px 15px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #ccc;
}

.profile-image{
  width: 30px;
  border-radius: 50%;
}

.addDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.editDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.addDialog:target {
  opacity:1;
  pointer-events: auto;
}

.dialogOpen{
  opacity: 1 !important;
  pointer-events: auto;
}

/* .editDialog:target {
  pointer-events: auto;
} */

.addDialog > div {
  width: 470px;
  position: relative;
  margin: 10% auto;
  padding: 15px 30px 30px 30px;
  border-radius: 3px;
  background: #fff;
}

.editDialog > div {
  width: 470px;
  position: relative;
  margin: 10% auto;
  padding: 15px 30px 30px 30px;
  border-radius: 3px;
  background: #fff;
}

.addDialog h2{
  padding-left: 0px;
}

.formField{
  padding-bottom: 15px;
}

form label{
  margin-bottom: 3px;
  display: block;
}

form input, form textarea {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 130px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
  height: 45px;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.flex.submit{
  justify-content: flex-end;
  margin-top: 15px;
}

.flex.submit input{
  width: 100px;
}

a.close {
  color: #555;
}

a.close:hover {
  cursor: pointer;
}

svg{
  pointer-events: none;
}

.current{
  background-color: #666;
  opacity: 0;
}

.button{
  background-color: #D6004A;
  padding: 12px 15px;
  margin-left: 15px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  border: none;
  transition: 0.3s ease;
}

.button:hover{
  cursor: pointer;
  background-color: #C00042;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 35%);
}

.button-grey{
  background-color: #252525;
}

.button-grey:hover{
  background-color: #252525;
}

.button-cancel{
  background-color: #ddd;
  color: #555;
  transition: 0.3s ease;
}

.button-cancel:hover {
  background-color: #ddd;
}

.error{
  display: none;
}

.snackbar{
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: #4caf50;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #999;
}

.snackbar

.snackbar span{
  margin-left: 10px;
}

.hidden{
  display: none;
}